/* 
selecteur (s) {
    propriété : valeur; 
    propriété : valeur; 
    propriété : valeur; 
}
*/
@font-face {
    font-family: 'lack lineregular';
    src: url('fonts/lack-line-regular-webfont.woff2') format('woff2'),
        url('fonts/lack-line-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "lack regular";
    src: url("fonts/Lack-Regular.woff2") format("woff2"),
        url("fonts/Lack-Regular.woff") format("woff");
}

body {
    color: rgb(255, 255, 255);
    max-width: auto;
    display: block;
    height: auto;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(74, 128, 167);
    margin: 15px;
    
}
.background {
    background-image: url(images/plan-de-travail-2.png);
}

.images{
    display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    row-gap: 15px; 
}

@media (min-width:450px) {
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media (min-width:700px) {
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        row-gap: 15px;
    }
}
.images-hokusai {
    display: grid;
        grid-template-columns: 1fr;
    row-gap: 15px; 
}
@media (min-width:450px) {
    .images-hokusai {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}

@media (min-width:600px) {
    .images-hokusai {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}
.images-esad {
    display: grid;
        grid-template-columns: 1fr;
    row-gap: 15px; 
}
@media (min-width:450px) {
    .images-esad {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 15px;
    }
}

@media (min-width:600px) {
    .images-esad {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        column-gap: 15px;
        row-gap: 15px;   
    }
}
.images-specimen {
    display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
    row-gap: 15px; 
}
@media (min-width:450px) {
    .images-specimen {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:700px) {
    .images-specimen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
}

.contact-p {
    padding-top: 20px;
    text-decoration: none;
}

.rectangles {
    grid-column: 1/3;
    transition: 0.5s;
    filter: grayscale(1)
}
.rectangles:hover{
    opacity: 2;
    filter: none
}
.rectangle-bis {
    transition: 0.5s;
    filter: grayscale(1)
}

.rectangle-bis:hover{
    opacity: 2;
    filter: none
}
a {
    transition: 0.5s;
    filter: grayscale(1)
}

a:hover {
    opacity: 2;
    filter: none
}

@media (min-width:300px) {
    .rectangle-bis {
        grid-column-start: 1;
        grid-column-end: span 2;

    transition: 0.5s;
    filter: grayscale(1)
    }
}

@media (min-width:700px) {
    .rectangle-bis {
        grid-column-start: 2;
        grid-column-end: span 2;

    transition: 0.5s;
    filter: grayscale(1)
    }
}

h1 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: "lack lineregular", sans-serif;
    font-size: clamp(20px, 4vw, 30px);
}

h1 a {
    text-decoration: none;
    color: currentColor;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: clamp(15px, 4vw, 25px);
}

h2 a {
    text-decoration: none;
    color: currentColor;
}

.instagram a {
    text-decoration: none;
    color: currentColor;
}

.titre-projet {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: clamp(20px, 4vw, 30px);
    font-family: lack regular;
}

.sous-titre {
    text-align: left;
    font-family: lack regular;
    color: rgb(255, 255, 255);
    font-size: clamp(16px, 4vw, 25px);
    margin-left: 20px;
}

img {
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
}

.paragraphe {
    margin-left: 20px;
    margin-right: 20px;
}

.videos {
    display:grid;
    height: auto;
    justify-content: center;
}