/* 
selecteur (s) {
    propriété : valeur; 
    propriété : valeur; 
    propriété : valeur; 
}
*/
  
body {
    color: black;
    margin: 8px;
    padding: 40px;
    max-width: auto;
    display: block;
    font-family: 'Mukta', sans-serif;
 
}

h1 {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 25px;
}
h3 {
    color: darkblue;
    font-size: 22px;
}
h5 {
    color: darkblue;
}

img { max-width: 100%;
    margin: 10px;
    display: grid;
    
}

